{% extends 'core/base.html' %}

{% block title %} Añadir miembro {% endblock %}

{% block content %}

    <style>
        label{
            display:none;
        }

        li {
            color: white;
            display:none;
        }
    </style>

    <!-- Content -->
    <div class="container container-per">
        <div class="row">
            <div class="col-sm-12">
                <form action="" method="post">
                    {% csrf_token %} 
                    <div class="member-form">
                        {{form.as_p}}
                        <input type="submit" value="Añadir Usuario" class="btn btn-primary submit">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}