{% extends 'core/base.html' %}

{% block title %} Añadir miembro {% endblock %}

{% block content %}

    <style>
        .errorlist li{
            color: white;
            display: block;
        }

        label{
            display:none;
        }
        
        .helptext{
            color: white;
            display:none;
        }

        li {
            color: white;
            display:none;
        }
    </style>

    <!-- Content -->
    <div class="container" style="height: 78vh;">
        <form action="" method="post">
            {% csrf_token %} 
            <div style="padding: 100px">
                {{form.as_p}}
                <input type="submit" value="Añadir Usuario" class="btn btn-primary" style="background-color: rgb(63, 112, 55); border: none; width: 100%; padding: 20px; margin: 20px; cursor: pointer;">
            </div>
        </form>
    </div>


{% endblock %}