{% extends 'core/base.html' %}

{% block title %} Iniciar Sesión {% endblock %}

{% block content %}

    <!-- Content -->
    <div class="container container-per">
        <form action="" method="post">
            {% csrf_token %}
            <div class="member-form">
                <input type="text" class="form-control user-form"  placeholder="Usuario" required id="id_username" name="username">
                <input type="password" class="form-control user-form"  placeholder="Contraseña" required id="id_password" name="password">
                <input type="submit" class="btn btn-primary btn-block submit" value="Acceder">        
            </div>
        </form>
    </div>


{% endblock %}

{% block footer %}
    <div class="fixed-bottom">
{% endblock %}