{% extends 'core/base.html' %}

{% block title %} Añadir tarea {% endblock %}

{% block content %}

{% load static %}

    <!-- Content -->    
    <div class="container container-per">
        <div class="row">
            <div class="card member-detail">
                <div class="row">
                    <div class="col-11">
                        <div class="card-body">                        
                            <div class="contenedor-imagen-redonda">
                                {% if member.avatar %}
                                    <img src="{{member.avatar.url}}" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                                {% endif %} 
                                <br>       
                            </div>      
                            <h5 class="card-title">{{member.name}}</h5> 
                            {% if user == member.user%}                  
                                <a href="{% url 'user_delete' member.user.id %}" class="btn btn-primary delete-button">Borrar miembro</a>   
                            {% endif %}
                        </div>                          
                    </div>
                    <div class="col-1">
                        <a href="{% url 'dashboard' %}" class="exit-button"><h3>🢀</h3></a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}