{% extends 'core/base.html' %}

{% block title %} Añadir miembro {% endblock %}

{% block content %}

    <!-- Content -->
    <div class="container" style="height: 78vh;">
        <form action="">
                <div style="padding: 100px">
                <input type="text" class="form-control"  placeholder="Nombre" style="padding: 20px; margin-left: 20px; ">
                <input type="image" class="form-control" style="padding: 20px; margin: 20px;">
                <a href="#" class="btn btn-primary" style="background-color: rgb(63, 112, 55); border: none; width: 100%; padding: 20px; margin: 20px; margin-bottom: 60px;">Añadir miembro</a>
                </div>
        </form>
    </div>


{% endblock %}