{% extends 'core/base.html' %}

{% block title %} {{task.title}} {% endblock %}

{% block content %}


    <!-- Content -->
    <div class="container container-per">
        <div class="row">
            <div class="card task-detail">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">{{task.title}}</h5>
                            <p class="card-text">{{task.description}}</p>
                            
                            {% if not task.isDone %}
                                {% if user == task.target %}
                                
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <input type="submit" value="Marcar como completada" class="btn btn-primary as-done">
                                    </form>
                                    
                                {% endif %}
                                {% if user == task.author %}
                                    <a href="{% url 'task_delete' task.id %}" class="btn btn-primary delete-button" >Eliminar tarea</a>
                                    <a href="{% url 'task_update' task.id %}" class="btn btn-primary edit-button">Editar tarea</a>
                                {% endif %}
                            {% endif %}

                        </div>                    
                    </div>
                    <div class="col" style="text-align: right;">
                        <a href="{% url 'dashboard' %}" class="exit-button"><h3>🢀</h3></a>
                    </div>                    
                </div>

            </div>
        </div>            
    </div>



{% endblock %}