{% extends 'core/base.html' %}

{% block title %} Tablero {% endblock %}

{% block content %}
  <!-- Content -->
  <div class="container" style="height: 78vh;">
      <div class="row">

          <!-- Tarjeta -->
          <div class="col-sm-4"">
              <div class="card" style="width: 18rem; margin: 30px; border-radius: 20px;">
                  <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'member_detail' %}" style="text-decoration: none; color: black;">Eze</a></h5>
                  <ul>
                    {% for task in task_list reversed %}
                      <li><a href="{% url 'task_detail' task.id %}" style="text-decoration: none; color: black;">{{task.title}}</a></li>
                    {% endfor %}
                  </ul>
                  <a href="{% url 'member_detail' %}" class="btn btn-primary" style="background-color: black; border: none; width: 49%;">Ver detalles</a>
                  <a href="{% url 'add_task' %}" class="btn btn-primary" style="background-color: rgb(63, 112, 55);; border: none; width: 49%;">Añadir tareas</a>
                  </div>
              </div>                
          </div>  

          
      </div>      
  </div>
{% endblock %}

