{% extends 'core/base.html' %}

{% block title %} Tablero {% endblock %}

{% load static %}

{% block content %}
  <!-- Content -->
  <div class="container container-per ">
      <div class="row dashboard">

          {% for member in members_list %}
            <!-- Tarjeta -->
            <div class="col-sm-4"">
                <div class="card">
                    <div class="card-body">
                      <div class="header">
                        <div class="name">
                          <h5 class="card-title"> <a href="{% url 'member_detail' member.id %}"> {{member.name}} </a> </h5>
                        </div>
                        <div class="avatar">
                          <a href="{% url 'member_detail' member.id %}">
                            {% if member.avatar %}
                              <img src="{{member.avatar.url}}" class="img-fluid">
                            {% else %}
                              <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                            {% endif %}
                          </a>
                        </div>  
                      </div> 

                    <ul>
                        {% for task in tasks_list reversed %}
                          {% if task.target == member.user %}
                            {% if task.isDone %}
                              <li><s><a href="{% url 'task_detail' task.id %}" class="task-done">{{task.title}}</a></s></li>
                            {% else %}
                              <li><a href="{% url 'task_detail' task.id %}" class="task">{{task.title}}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                        
                    </ul>
                    <a href="{% url 'member_detail' member.id %}" class="btn btn-primary details">Ver detalles</a>
                    {% if user.is_staff %}
                      <a href="{% url 'add_task' member.user.id %}" class="btn btn-primary add-tasks">Añadir tareas</a>
                    {% endif %}
                    </div>
                </div>                
            </div>  
          {% endfor %}
          
      </div>      
  </div>
{% endblock %}

