{% extends 'core/base.html' %}

{% block title %} Editar tarea {% endblock %}

{% block content %}

    <!-- Content -->
    <div class="container container-per">
        
        <form action="" method="POST">
                {% csrf_token %}
                <div class="update-task-form">
                
                    {{form.title}}
                    {{form.description}}
                    {{form.expiration}}

                    <input type="submit" value="Guardar tarea" class="btn btn-primary update-task-button"/>
                </div>    
        </form>
    </div>


{% endblock %}
