{% extends 'core/base.html' %}

{% block title %} Eliminar "{{task.title}}" {% endblock %}

{% block content %}


    <!-- Content -->
    <div class="container"  style="height: 78vh;">
        <div class="row">
            <div class="card" style="width: 100%;  background-color: rgb(15, 15, 15)" >
                <div class="row">
                    <div class="col" style="padding: 40px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: whitesmoke;">Desea eliminar "{{object}}" ?</h5>
                            <form method="post">{% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Eliminar tarea" class="btn btn-primary" style="background-color: #cc0022; border: none;">
                            </form>
                        </div>                    
                    </div>
                    <div class="col" style="text-align: right;">
                        <a href="{% url 'dashboard' %}" style="color: whitesmoke; text-decoration: none;"><h3 style="padding: 40px">🢀</h3></a>
                    </div>                    
                </div>

            </div>
        </div>            
    </div>



{% endblock %}