{% extends 'core/base.html' %}

{% block title %} Añadir tarea {% endblock %}

{% block content %}

    <!-- Content -->
    <div class="container container-per">
        
        <form action="" method="POST">
                {% csrf_token %}
                <div class="task-form">
                
                    {{form.title}}
                    {{form.description}}
                    {{form.expiration}}


                    <input type="submit" value="Añadir" class="btn btn-primary submit"/>
                </div>    
        </form>
    </div>


{% endblock %}
