{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
{% load static %}

  <!-- Content -->
  <div class="container container-per">
      <div class="row">

          <!-- Home   -->
          <div class="container-fluid">

              <h2 class="home-main-title">El más eficiente planificador de tareas<div class="dots">...</div></h2>
              <a href="{% url 'dashboard' %}" class="dashboard-redirect"><p>Ir al tablero</p></a>

          </div>

          
      </div>      
  </div>
{% endblock %}

