{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
{% load static %}
  <!-- Content -->
  <div class="container">
      <div class="row">

          <!-- Home   -->
          <div class="container-fluid">

              <h2 style="color: white; font-size: 500%; padding: 10% 10% 4% 10%; margin: 0%;">El más eficiente planificador de tareas<div style="color: rgb(51, 255, 0);">...</div></h2>
              <a href="{% url 'dashboard' %}"><p style="color: white; padding: 0% 10% 5% 10%;">Ir al tablero</p></a>

          </div>

          
      </div>      
  </div>
{% endblock %}

