{% extends 'core/base.html' %}

{% block title %} Añadir tarea {% endblock %}

{% block content %}

    <!-- Content -->
    <div class="container">
        <form action="">
                <input type="text" class="form-control"  placeholder="Usuario" style="padding: 20px; margin: 20px; margin-top: 60px;">
                <input type="password" class="form-control"  placeholder="Contraseña" style="padding: 20px; margin: 20px; margin-top: 60px;">
                <a href="#" class="btn btn-primary" style="background-color: rgb(63, 112, 55); border: none; width: 100%; padding: 20px; margin: 20px; margin-bottom: 60px;">Acceder</a>                     
        </form>
    </div>


{% endblock %}